{{ $len := len .Site.Pages.ByTitle }}


{"cases":[
    {{ range $i, $page := .Site.Pages.ByTitle }}
     {{ if .Params.id }}
        {{ if ne $page.Type "json" }}
        
            {{ $last := sub $len $i }}
            {{ $content := $page.Plain }}
            {
                "id":{{ .Params.id }},
                "title": "{{ .Title|safeHTML }}",
                "link": "{{ .Permalink }}",
                "slug": "{{ .Slug }}",
                "case_number": "{{ .Params.case_number }}",
                "category": [{{ range $tindex, $cat := .Params.category }}{{ if $tindex }},{{ end }}"{{ $cat }}"{{ end }}],
                "cat_url": [{{ range $tindex, $cat := .Params.category }}{{ if $tindex }},{{ end }}"{{ $cat|urlize }}"{{ end }}],
                "content": "{{ $content|urlize }}",
                "topics": [{{ range $tindex, $tag := .Params.case_topics }}{{ if $tindex }},{{ end }}"{{ $tag }}"{{ end }}],
                "related_cases": [{{ range $tindex, $case := .Params.related_cases }}{{ if $tindex }},{{ end }}"{{ $case }}"{{ end }}]
            }{{if gt $last 1 }},{{ end }}
        {{ end }}
    {{ end }}
    {{ end }}
    ]
}
