<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
<script src="{{ .Site.BaseURL }}js/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}js/jquery.dropotron.min.js"></script>
<script src="{{ .Site.BaseURL }}js/skel.min.js"></script>
<script src="{{ .Site.BaseURL }}js/util.js"></script>
<script src="{{ .Site.BaseURL }}js/main.js"></script>
<script src="{{ .Site.BaseURL }}js/underscore-1.1.7.js"></script>
<script src="{{ .Site.BaseURL }}js/facetedsearch.js"></script>
<script src="{{ .Site.BaseURL }}js/lunr.min.js"></script>
<script src="{{ .Site.BaseURL }}js/search.js"></script>

<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<link rel="stylesheet" href="{{ .Site.BaseURL }}css/skel.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/ionicons.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style-xlarge.css" />

<link rel="shortcut icon" href="{{ .Site.BaseURL }}img/favicon.ico" type="image/x-icon">

<!-- CSS for cookie policy -->
<link rel="stylesheet" href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" />

<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RBECXSSN6N"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RBECXSSN6N', { 'anonymize_ip': true });
</script>
