<!-- Header -->
{{ $baseurl := .Site.BaseURL }}

<header id="header" class="container">

                        <!-- Logo -->
                            <div id="logo">
	                             <a href="{{ $baseurl }}"><img src="{{ $baseurl }}img/ccc_logo.png"></a>
                            </div>

                        <!-- Nav -->
                            <nav id="nav">
                                <ul>
                                    <li><a href="{{ $baseurl }}">Welcome</a></li>
                                    <li>
                                        <a href="#">About</a>
                                        <ul>
                                        	<li><a href="{{ $baseurl }}page/about">The Case Study</a></li>
                                            <li><a href="{{ $baseurl }}page/teachers">Case Method for Teachers</a></li>
                                            <li><a href="{{ $baseurl }}page/students">Case Method for Students</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{{ $baseurl }}case">Browse Cases</a></li>
                                    <li><a href="{{ $baseurl }}">Help</a></li>                                    

                                </ul>
                            </nav>

                    </header>
<!-- End Header -->        					
