<header id="header">
    <div class="row">
        <div class="col-md-6">
        <form class="form-inline" role="search">
            <div class="input-group">
                <input style="color:#333" id="q" type="text" class="form-control" placeholder="search" />
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-small btn-default"
                                    id="search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>look it up!</button>
                </div>
            </div>
        </form>
        <div class="col-md-6" id="search-results"></div>
    </div>
</header>