<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
<script src="{{ .Site.BaseURL }}/js/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/jquery.dropotron.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/skel.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/util.js"></script>
<script src="{{ .Site.BaseURL }}/js/main.js"></script>
<script src="{{ .Site.BaseURL }}/js/underscore-1.1.7.js"></script>
<script src="{{ .Site.BaseURL }}/js/facetedsearch.js"></script>
<script src="{{ .Site.BaseURL }}/js/lunr.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/search.js"></script>
<script src="{{ .Site.BaseURL }}/js/FeedEk.js"></script>

<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/skel.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/main.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/ccnmtl.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style-xlarge.css" />

<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
