<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    <script src="{{ .Site.BaseUrl }}/js/jquery.min.js"></script>
    <script src="{{ .Site.BaseUrl }}/js/jquery.poptrox.min.js"></script>
    <script src="{{ .Site.BaseUrl }}/js/skel.min.js"></script>
    <script src="{{ .Site.BaseUrl }}/js/init.js"></script>
    <script src="{{ .Site.BaseUrl }}/js/test.js"></script>
    <noscript>
        <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/skel.css" />
        <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/style.css" />
        <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/style-xlarge.css" />
    </noscript>
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->