<html>
    {{ partial "header.html" . }}
    <body id="top">

        <!-- Header -->
        {{ partial "header_section.html" . }}
        <!-- Main -->
            <div id="main">JJSSSOOONNN
                {{ .Site.Params.case_repo_baseurl }}
                <!-- One -->
                    <section id="one">
                        <h1>{{.Title}}</h1>
                        <p>{{ .Content }}</p>
                    </section>
                    {{ range .Params.case_topics }}
                        {{ . }}
                    {{ end }}
            </div>

        <!-- Footer -->
            {{ partial "footer.html" . }}

    </body>
</html>