<html>
        {{ partial "header.html" . }}

<body class="homepage">
	<div id="page-wrapper">

	<!-- Header -->
	<div id="header-wrapper">
	{{ partial "header_section.html" . }}
	</div>

<div id="main-wrapper" class="box container">

<div class="row 200%">
<div class="12u 12u$(medium)">
<!-- Content -->
<div id="content">
                <!-- One -->
                    <section id="one">

                        <h1 class="unescape">{{.Title|safeHTML}}</h1>
                        <p>{{ .Content }}</p>
                        <a target="_blank" class="external-case-link" href="http://ccnmtl.columbia.edu/projects/caseconsortium/casestudies/{{ .Params.id }}/casestudy/www/layout/standard.asp%3fcase_id={{ .Params.id }}.html">
                            <h4 class="unescape">Link to case</h4>
                        </a>

                         <a target="_blank" class="pdf" href="http://ccnmtl.columbia.edu/projects/caseconsortium/casestudies/{{ .Params.id }}/casestudy/files/global/{{ .Params.id }}/{{ .Params.pdf }}">
                            <h4 class="unescape">Link to pdf</h4>
                        </a>
                        

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                      Teaching Resouces
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
                          </div>
                          <div class="modal-body">
                            <p>Warning!</p>
                            <p>Are you sure you want to view the teaching resources?</p>

                            <div id="teaching-resources">
                                <a target="_blank" class="pdf" href="http://ccnmtl.columbia.edu/projects/caseconsortium/casestudies/{{ .Params.id }}/casestudy/files/global/{{ .Params.id }}/{{ .Params.teaching_note }}">
                                    <h4 class="unescape">Link to Teaching Note</h4>
                                </a>

                                <a target="_blank" class="epoligue" href="http://ccnmtl.columbia.edu/projects/caseconsortium/casestudies/{{ .Params.id }}/casestudy/files/global/{{ .Params.id }}/{{ .Params.epilogue }}">
                                    <h4 class="unescape">Link to epilogue</h4>
                                </a>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-close" data-dismiss="modal">No</button>
                            <button id="view-teaching-resources" type="button" class="btn btn-primary">Yes</button>
                          </div>
                        </div>
                      </div>
                    </div>


                    <p>Topics:</p>
                    {{ range .Params.case_topics }}
                        <a href="/case_topics/{{ .|urlize }}">{{ . }}</a> <br/>
                    {{ end }}
            </div>
    </div>
    </div>
    </div>
    </div>
    </div><!-- end pagewrapper-->



        <!-- Footer -->
            {{ partial "footer.html" . }}
            <script>
                jQuery('.unescape').each(function(){
                    var text = jQuery(this).text();
                    jQuery(this).html(text);
                });

                jQuery('#teaching-resources').hide();

                jQuery('#view-teaching-resources').click(function(){
                    jQuery('#teaching-resources').removeClass('hidden').fadeIn();
                })

            </script>
    </body>
</html>