<html>
        {{ partial "header.html" . }}

<body class="case">
	<div id="page-wrapper">

	<!-- Header -->
	<div id="header-wrapper">
	{{ partial "header_section.html" . }}
	</div>

<div id="main-wrapper" class="box container">

<div class="row 200%">
<div class="3u 12u$(medium) case-thumb">
    <a target="_blank" href="{{ .Params.case_url }}" title="Link to Case">
    {{ if .Params.thumbnail }}
        <img class ="thumbnail" src="{{ .Params.thumbnail }}" />
     {{ else }}
       <img class ="thumbnail noborder" src="/img/case/case_thumb_00.png" />
    {{ end }}
    </a>
     
</div>
<div class="9u 12u$(medium) case-desc">
<!-- Content -->
<div id="content">
                <!-- One -->
                    <section id="one">
                        <h1 class="case-title unescape">{{.Title|safeHTML}}</h1>

                        <div>
                        {{ .Content }}
                        </div>
                        
                        <div class="case-summary-details">
                        <p>
                            {{ if .Params.case_number }}
                            <span class="detail-field">Case number:</span> 
                                {{ .Params.case_number }}
                            <br />
                            {{ end }}
                            <span class="detail-field">Category:</span>
                            {{ range $i, $e := .Params.category }}{{if $i}}, {{end}}<a href="/category/{{ . | urlize | lower}}/">{{$e}}</a> {{ end }}
                            <br />
                            {{ if .Params.case_topics }}
                            <span class="detail-field">Topics:</span>
                            {{ range $i, $e := .Params.case_topics }}{{if $i}}, {{end}}{{$e}}{{ end }}
                            <br />
                            {{ end }}
                            {{ if or .Params.teaching_note .Params.epilogue }}
                            <span class="detail-field">Teaching resources:</span>
                            {{ if .Params.epilogue }}Epilogue, {{ end }}
                            {{ if .Params.teaching_note }}Teaching note{{ end }}
                            {{ end }}
                        </p>
                        </div>
                        
                        <a target="_blank" class="external-case-link" href="{{ .Params.case_url }}">
                        <span class="ion-folder"></span> <span class="unescape">Link to Case</span>
                        </a>

                         <a target="_blank" class="pdf" href="{{ .Params.pdf }}">
                         <span class="ion-document-text"></span> <span class="unescape">Link to PDF</span>
                        </a>
                        

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                     <span class="ion-university"></span> Teaching Resources
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header" style="border-bottom:none;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
                          </div>
                          <div class="modal-body">
                            <div><strong>Warning:</strong> Accessing the teaching resources as a student prior to the case discussion may dilute the learning experience. Coming up with conclusions to the case study builds analytical and critical thinking skills. For that reason, only educators should access these materials, especially prior to the case discussion.</div>
                            <br/>
                            <div>Are you sure you want to view the teaching resources?</div>

                            <div id="teaching-resources">
                                {{ if .Params.teaching_note }}
                                <a target="_blank" class="teacher-pdf" href="{{ .Params.teaching_note }}">
                                    <h4 class="unescape">Link to Teaching Note</h4>
                                </a>
                                {{ end }}

                                {{ if .Params.epilogue }}
                                <a target="_blank" class="epoligue" href="{{ .Params.epilogue }}">
                                    <h4 class="unescape">Link to Epilogue</h4>
                                </a>
                                {{ end }}
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button class="decision" type="button" class="btn btn-default btn-close" data-dismiss="modal">No</button>
                            <button class="decision" id="view-teaching-resources" type="button" class="btn btn-primary">Yes</button>
                          </div>
                        </div>
                      </div>
                    </div>

            </div>
    </div>
    </div>
    </div>
    </div>
    </div><!-- end pagewrapper-->



        <!-- Footer -->
            {{ partial "footer.html" . }}
            <script>
                function init() {
                    function unescapeText() {
                        jQuery('.unescape').each(function(){
                            var text = jQuery(this).text();
                            jQuery(this).html(text);
                        });
                    };

                    function createTeachResourceUX(){
                        jQuery('#teaching-resources').hide();

                        jQuery('#view-teaching-resources').click(function(){
                            var tr = jQuery('#teaching-resources'); 
                            var closeBtn = '<button type="button" class="close" data-dismiss="modal">Close</button>';
                            var decisionBtns = jQuery('.decision');
                            tr.removeClass('hidden').fadeIn();
                            tr.append(closeBtn);
                            decisionBtns.each(function(){
                                jQuery(this).remove();
                            });
                        });
                    };
                    unescapeText();
                    createTeachResourceUX();
                };

                init();

            </script>
    </body>
</html>
