<html>
        {{ partial "header.html" . }}

    <body class="homepage">
        <div id="page-wrapper">

            <!-- Header -->
                <div id="header-wrapper">
                            {{ partial "header_section.html" . }}
                </div>

            <!-- Banner -->
                <div id="banner-wrapper">
                    <div id="banner" class="box container">
                        <div class="row">
                            <div class="7u 12u(medium)">
                                <h2>Welcome to the Case Consortium at Columbia University.</h2>
                                <p>Our ever-growing case collection includes "teaching" cases for the fields of <strong>journalism</strong>, <strong>public policy</strong>, <strong>public health</strong>, and other disciplines. Nearly all the cases are multimedia and based on original research; a few are written from secondary sources. <strong>All cases are offered free of charge.</strong></p>
							</div>
                            <div class="5u 12u(medium)">
                                <ul>
                                    <li><a href="case" class="button big icon fa-arrow-circle-right">Browse Cases</a></li>
                                    <li><a href="page/about" class="button alt big icon fa-question-circle">About the Case Method</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            <!-- Features -->
                <div id="features-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="4u 12u(medium)">

                                <!-- Box -->
                                    <section class="box feature">
<img src="../img/ccc_img_1.jpg" alt="" />
                                        <div class="inner">
                                            <header>
                                                <h2>New to Case Studies?</h2>

                                            </header>
                                            <p>Don't worry! We have a faculty section with links to a training website you may find helpful and other case resources. <a href="page/teachers">Click here</a> and get started!</p>
                                        </div>
                                    </section>

                            </div>
                            <div class="4u 12u(medium)">

                                <!-- Box -->
                                    <section class="box feature">
<img src="../img/ccc_img_2.jpg" alt="" />
                                        <div class="inner">
                                            <header>
                                                <h2>10 Steps for Case Study Use</h2>
                                            </header>
                                            <p>This guide from The Journalism School Knight Case Studies Initiative suggests 10 Easy Steps to teach journalism case studies using the Case Method. <a href="files/case_method_10_easy_steps.pdf " target="_blank">Download the guide.</a></p>
                                        </div>
                                    </section>

                            </div>
                            <div class="4u 12u(medium)">

                                <!-- Box -->
                                    <section class="box feature">
<img src="../img/ccc_img_3.jpg" alt="" />
                                        <div class="inner">
                                            <header>
                                                <h2>Our Digital Future: Boardrooms and Newsrooms</h2>
                                        	</header>
                                            <p>Use this collection of journalism case studies as ready-made curriculum to introduce students of journalism and mass communications to some of the most urgent issues facing the media industry. Available for purchase at <a href="http://www.amazon.com/Our-Digital-Future-Boardrooms-Newsrooms/dp/0615427324/ref=sr_1_14?ie=UTF8&qid=1300999685&sr=8-14" target="_blank">Amazon</a> or <a href="http://www.barnesandnoble.com/w/our-digital-future-kirsten-o-lundberg/1102254724?ean=9780615427324&itm=1&usri=9780615427324" target="_blank">Barnes and Noble.</a></p>
                                        </div>
                                    </section>

                            </div>
                        </div>
                    </div>
                </div>

            <!-- Main -->
                <div id="main-wrapper">
                    <div class="container updates">
                        <div class="row 200%">
                            <div class="12u 12u(medium) important(medium)">

                                <!-- Content -->
                                    <div id="content">
                                        <section class="last">
                                            <h2>Case Consortium Updates </h2>
                                            <div id="divRss"></div>
                                        </section>
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>

            <!-- Footer -->
  			{{ partial "footer.html" . }}

            </div>

        <!-- Scripts -->



    </body>
</html>