<html>
    {{ partial "header.html" . }}
    <body id="tops">

        <!-- Header -->
        {{ partial "header_section.html" . }}
        <!-- Main -->
            <div id="main">
                <!-- One -->
                    <section id="one">
                        
                            <header class="major">
                                <h2>Cases</h2>
                            </header>
                            
                            <table class="alt">
                            <thead>
                                <tr>
                                    <!--<th>ID</th>
                                    <th>Title</th>
                                   <th>Author </th>-->
                                </tr>
                            </thead>
                                {{ range .Data.Pages.ByTitle }}
                                
                                <tr>
                                    <!--<td>{{ .Params.id }}</td>-->
                                    <td><a target="_blank" class="repo-url" href="{{.Site.Params.case_repo_baseurl}}{{ .Params.id }}/casestudy/www/layout/standard.asp%3fcase_id={{.Params.id}}.html">{{ .Title }}</a></td>
                                    <!--<td>{{ .Params.author }}</td>-->
                                    
                                </tr>
                                
                                {{ end }}
                            </table>
                                
                        
                    </section>

            </div>
            
        {{ partial "footer.html" . }}

    </body>

</html>

