<html>
        {{ partial "header.html" . }} 

<body class="search">
  <div id="page-wrapper">

  <!-- Header -->
  <div id="header-wrapper">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}js/tablesorter/themes/blue/style.css" />
    <script type="text/javascript" src="/js/tablesorter/jquery.tablesorter.js"></script> 
    {{ partial "header_section.html" . }}
    <!-- End Header -->
  </div>

<!-- Main Wrapper -->
<div id="main-wrapper" class="box container">
  <!-- Search Box -->
  <div id="search">
    <form class="form-inline" role="search">
      <div class="input-group">
        <span class="ion-android-search"></span>
        <input id="q" type="text" placeholder="Search for Cases" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search for Cases'" />
        <button class="close-icon" id="clear-search" type="reset"></button>
        <div class="input-group-btn"></div>
      </div>
      
    </form>
    <div id="search-results"></div>
      <!-- End Search Box -->
    <div class="active-facets"></div>
  </div>
  <!-- Browse Cases -->
  <div class="row 200% browse_cases">
    <!-- End Search Results -->
    <!-- Sidebar -->
    <div class="3u 12u$(medium)" id="sidebar">
      <!-- Facets -->
      <div id="facets"></div>
      <!-- End Facets -->
    </div>
    <!-- End Sidebar -->
    <div class="9u 12u$(medium) important(medium)">
      <div id="content">
        <!-- Content -->
        <table class="alt tablesorter" id="results"></table>
        <!-- End Content -->
      </div>
    </div>

    <!-- End Browse Cases -->
    <!-- End Main Wrapper -->
  </div>
</div>

         {{ partial "footer.html" . }}

          <script data-export="true" data-file-extension="js" id="facetize">
            jQuery(document).ready(function(){
                $.getJSON('/js/api/cases.json').success(function(cases){
                      window.Cases = cases;
                  }).error(function(){
                      alert('There was a problem loading the cases.')
                  }).complete(function(){
                    //after cases have loaded this function runs, contains the information passed to
                    //faceted search and several methods called after the facested search is instantiated
                        function setTableHeaders(){
                            jQuery('#results').prepend('<thead>' +
                                                        '<tr>' +
                                                            '<th class="case_id_head">Case Number</th>' +
                                                            '<th class="case_title_head">Title</th>' +
                                                            '<th class="case_topics_head">Category</th>' +
                                                        '</tr>' +
                                                       '</thead>');
                        }
                        function updateQueryParamsAndBreadCrumbs(){

                            $('.active-facets').html(
                                '<span class="category" data-facetname="category" style="display:none">Category: </span>' +
                                '<span class="topics" data-facetname="topics" style="display:none">Topics: </span>' +
                                '<span class="related_cases" data-facetname="related_cases" style="display:none">Related Cases: </span>');


                            var new_path = "/case/";
                            var stateObj = { currentUrl: new_path };

                            _.each(settings.state.filters, function(filter, facetname) 
                            {
                                $('.active-facets .'+facetname+'').show();
                                for(var x=0; x < filter.length; x++)
                                {
                                    $('.active-facets .'+facetname+'').append("<span class='active-search-term' data-filtername='"+filter[x]+"'>"+filter[x]+"<span class='glyphicon glyphicon-remove'></span></span>");
                                    if(new_path === "/case/") {
                                        new_path = new_path + '?' + facetname + "=" + filter[x];
                                    } 
                                    else {
                                        new_path = new_path + "&" + facetname + "=" + filter[x];
                                    }
                                    
                                }
                            });
                              window.history.pushState(stateObj, "case-search", new_path);


                        }
                        window.unescapeHtml = function(){
                            jQuery('.unescape').each(function(){
                                var text = jQuery(this).text();
                                jQuery(this).html(text);
                            });
                        }

                        var item_template =
                            '<tr class="item">' +
                              '<td class="case_id" id="case-id-<%= obj.id %>"><div class="desc hidden"><%= obj.description %></div>' +
                              '<span class="unescape"><%= obj.case_number %></span></td>' +
                              '<td class="case_slug"><a href="<%= obj.slug %>">'+
                              '<h4 class="unescape"> <%= obj.title %></h4> </a></td>' +
                              '<td class="case_topics"><a href="/category/<%= obj.cat_url %>"> <span><%= obj.category %></span></a></td>' +
                            '</tr>';

                        settings = {
                              items            : Cases.cases,
                              facets           : {
                                                  'category': 'Category',
                                                  'topics': 'Filter by Topic',
                                                  'related_cases': 'Related Cases'
                                                 },
                              resultSelector   : '#results',
                              facetSelector    : '#facets',
                              resultTemplate   : item_template,
                              paginationCount  : 1000,
                              orderByOptions   : {'case_number': 'Case Number', 'title': 'Title'},
                              bottomContainer    : '<div class="bottom-container"></div>',
                              showMoreTemplate   : '<a id=showmorebutton>Show More</a>',
                              state: {
                                filters : {}
                              }
                        }
                        
                          //first check if there is a '?' in the link
                        if (window.location.href.indexOf('?') !== -1)
                        {
                            jQuery.facetelize(settings);
                            
                              setTableHeaders();
                              unescapeHtml();
                              $('.active-facets').html(
                                '<span class="category" data-facetname="category" style="display:none">Category: </span>' +
                                '<span class="topics" data-facetname="topics" style="display:none">Topics: </span>' +
                                '<span class="related_cases" data-facetname="related_cases" style="display:none">Related Cases: </span>');


                            try {
                                var qry_params = window.location.href.split('?');
                                var params = qry_params[1];

                                // first check which facets are in url
                                if (params.indexOf('category') !== -1)
                                {
                                  $.extend(settings.state.filters, {'category': []});
                                }
                                if (params.indexOf('topics') !== -1)
                                {
                                  $.extend(settings.state.filters, {'topics': []});
                                }
                                if (params.indexOf('related_cases') !== -1)
                                {
                                  $.extend(settings.state.filters, {'related_cases': []});
                                }

                                var active_facets = params.split('&');


                                // go over url parameters and re create search results
                                for(var count_params=0; count_params < active_facets.length; count_params++)
                                {   
                                    //count_params = count_params - 1;
                                    var find_facet = String(active_facets[count_params]).split('=');
                                    var facet = find_facet[0]; //category/related topics/
                                    var search_term = find_facet[1];
                                    settings.state.filters[facet].push(decodeURI(search_term));
                                    
                                }

                                // add tags under search bar for active filters
                                _.each(settings.state.filters, function(filter, facetname) 
                                {   
                                    $('.active-facets .'+facetname+'').show();
                                    for(var x=0; x < filter.length; x++)
                                    {
                                        $('.active-facets .'+facetname+'').append("<span class='active-search-term' data-filtername='"+filter[x]+"'>"+filter[x]+"<span class='glyphicon glyphicon-remove'></span></span>");
                                    }
                                });
                                
                            }
                            catch(error){
                              console.log(error);
                            }
                          }

                          
                          if (window.location.href.indexOf('?') === -1)
                          {

                            $('.active-facets').html(
                                '<span class="category" data-facetname="category" style="display:none">Category: </span>' +
                                '<span class="topics" data-facetname="topics" style="display:none">Topics: </span>' +
                                '<span class="related_cases" data-facetname="related_cases" style="display:none">Related Cases: </span>');
                          }
                        
                          jQuery.facetelize(settings);

                          setTableHeaders();
                          unescapeHtml();
                          // calling tablesorter library to order results of search
                          jQuery("#results").tablesorter(); 


                          jQuery('.orderbyitem')
                            .add(jQuery('.facetitem'))
                            .add(jQuery('.deselectstartover'))
                            .add(jQuery('#showmorebutton'))
                            .on('click', function(){

                                setTableHeaders();
                                unescapeHtml();
                                jQuery("#results").tablesorter(); 
                            })

                          jQuery('.facetitem').on('click', updateQueryParamsAndBreadCrumbs);
                          jQuery('.deselectstartover').on('click', updateQueryParamsAndBreadCrumbs);


                          jQuery('.active-facets').on('click', function(event){

                            if (event.target.attributes[0]['nodeValue'] === 'glyphicon glyphicon-remove')
                            {
                                var filterText = event.target.parentNode.attributes['data-filtername'].value;
                                var facetText = event.target.parentNode.parentNode.attributes['data-facetname'].value;

                                _.each(settings.state.filters, function(filter, facetname) 
                                {
                                    if(facetname === facetText)
                                    {
                                       try {
                                            settings.state.filters[facetname].pop(filterText);
                                            // and remove the filter
                                            jQuery.facetUpdate();
                                            updateQueryParamsAndBreadCrumbs();
                                            unescapeHtml();

                                            if(settings.state.filters[facetname].length === 0)
                                            {
                                                delete settings.state.filters[facetname];
                                                updateQueryParamsAndBreadCrumbs();
                                                jQuery.facetUpdate();
                                                unescapeHtml();
                                                setTableHeaders();
                                                jQuery("#results").tablesorter(); 
                                            }
                                            else {
                                                setTableHeaders();
                                                jQuery("#results").tablesorter(); 
                                            }
                                
                                        }
                                        catch(error)
                                        {
                                            console.log(error);
                                        }
                                    }

                                });

                            }

                        });

                  }) 
                  

              });
            </script>
            
    </body>

</html>