<html>
    {{ partial "header.html" . }}
    <body id="tops">

        <!-- Header -->
        <header id="header">
            <div id="facets"></div>
        </header>
        <!-- Main -->
            <div id="main">
              <section id="one">
                <div id="order-by"></div>
                <table class="alt" id="results"></table>
              </section>
              <section>
                {{ partial "footer.html" . }}
              </section>
            </div>
            <script data-export="true" data-file-extension="js" id="facetize">
                    $.getJSON('/js/api/cases.json').success(function(cases){
                            window.Cases = cases;
                        }).error(function(){
                            alert('there was a problem loading the cases.')
                        }).complete(function(){
                          function setTableHeaders(){
                            jQuery('#results').prepend('<thead>' +
                                                        '<tr>' +
                                                            '<th>Case Number</th>' +
                                                            '<th>Title</th>' +
                                                            '<th>Thumbnail</th>' +
                                                            '<th>Topics</th>' +
                                                        '</tr>' +
                                                      '</thead>');
                            }
                            window.unescapeHtml = function(){
                              jQuery('.unescape').each(function(){
                                  var text = jQuery(this).text();
                                  jQuery(this).html(text);
                              });
                            }                  
                            var item_template = 
                            '<tr class="item">' +
                              '<td id="case-id-<%= obj.id %>"><div class="desc hidden"><%= obj.description %></div>' +
                              '<span class="unescape"><%= obj.case_number %></span></td>' +
                              '<td><a href="<%= obj.slug %>"> <h4 class="unescape"> <%= obj.title %></h4> </a></td>' + 
                              '<td><img src="<%= obj.imageURL %>"></td>' +
                              '<td class="item-topics"><% for(var topic in obj.topics)' +
                              '{ %> <%= obj.topics[topic] %><span class="comma-sep">,</span> <% } %></td>' +
                            '</tr>';
                            settings = { 
                              items            : Cases.cases,
                              facets           : { 
                                                  'topics'     : 'Filter by Topic',
                              },  
                              resultSelector   : '#results',
                              facetSelector    : '#facets',
                              resultTemplate   : item_template,
                              paginationCount  : 10,
                              orderByOptions   : {'title': 'Title', 'case_number': 'Case Number'},
                              bottomContainer    : '<div class="bottom-container"></div>',
                              //facetSortOption  : {'continent': ["North America", "South America"]}
                            }   

                            // use them!
                            jQuery.facetelize(settings);
                            setTableHeaders();
                            unescapeHtml();

                            jQuery('.orderbyitem')
                              .add(jQuery('.facetitem'))
                              .add(jQuery('.deselectstartover'))
                              .on('click', function(){
                              setTableHeaders();
                              unescapeHtml();
                            })

                        })

            </script>
        

    </body>

</html>

