<html>
    {{ partial "header.html" . }}
    <body id="tops">

        <!-- Header -->
        {{ partial "header_section.html" . }}
        <!-- Main -->
            <div id="main">
                <!-- One -->
                    <section id="one">
                        
                            <header class="major">
                                <h2>Cases</h2>
                            </header>
                            
                            <table class="alt">
                            <thead>
                                <tr>
                                    <th>Case ID</th>
                                    <th>Title</th>
                                    <th>Author </th>
                                </tr>
                            </thead>
                                {{ range .Data.Pages.ByTitle }}
                                                                        
                                    {{ if eq .Params.page 1 }}
                                        <tr>
                                            <td><a href="{{.Permalink}}">{{ .Params.cases }}</a> </td>
                                            <td> {{ .Title }}</td>
                                            <td>{{ .Params.author }}</td>
                                            
                                        </tr>
                                    {{ end }}
                                {{ end }}
                            </table>
                                
                        
                    </section>

            </div>
            
        {{ partial "footer.html" . }}

    </body>

</html>

